* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}



img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 20px;
	border: 5px solid #3882f6;
}


#logo {
	width: 170px;
	height: 100px;
	object-fit: cover;
	border: none;
	border-radius: none;
	box-shadow: 1px 1px 3px #e5e7eb;
	margin-left: 70px;
	margin-top: 15px;
}

header {
	background: #1f2937;
	height: 60%;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
}

ul {
	display: flex;
	gap: 10px;
	margin-right: 65px;
}

a,
li {
	text-decoration: none;
	list-style: none;
	color: #e5e7eb;
	font-size: 18px;
	transition: all 0.4s ease;
}

a:hover {
	cursor: pointer;
	color: #a2a4a7;

}

.container {
	background: #1f2937;
	color: #e5e7eb;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
}

h1 {
	color: #f9faf8;
	font-size: 48px;
	font-weight: bolder;
}

main>section>p {
	color: #e5e7eb;
	font-size: 18px;
}

.img-main img {
	width: 650px;
	height: auto;
}

.text {
	width: 520px;
}

button {
	border: none;
	background: #3882f6;
	color: #e5e7eb;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	font-size: 20px;
	transition: all 0.3s ease;
	margin-top: 20px;
}

button:hover {
	cursor: pointer;
	background-color: #0261fa;
	color: #f9faf8;
}

.cont-2 {
	background: #ffffff;
}

article p {
	color: #1f2937;
	text-align: center;
	width: 200px;
}

.info-img {
	margin: 20px;
}

section>h2 {
	text-align: center;
	font-size: 36px;
	font-weight: 900;
	padding-top: 75px;
	color: #1f2937;
}


.quote {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 500px;
	background: #e5e7eb;
}

section.quote>p {
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
	text-align: start;
	width: 40%;
}

section.quote>span {
	color: #1f2937;
	margin-top: 250px;

}

.call {
	background-color: #ffffff;
	color: #1f2937;
	height: 200px;
}

section.border {
	border: 2px solid #3882f6;
	background: #3882f6;
	border-radius: 10px;
	width: 50vw;
	height: 135px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	color: #e5e7eb;
}


.btn-2 {
	border: 2px solid #e5e7eb;
	margin-top: 0;
}

footer {
	background: #1f2937;
	color: #e5e7eb;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 110px;
}